<div class= "portfolio-area" id="portfolio">
<div class="text-container">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, possimus in aspernatur alias doloremque autem illo eligendi laudantium pariatur at mollitia obcaecati earum quo harum esse officia? Dolorem natus fugit vel quae quia, facilis saepe assumenda odit distinctio. Consectetur nam eum itaque corporis, reprehenderit modi rerum veritatis a soluta incidunt enim tenetur dolores praesentium amet, quaerat, magni exercitationem voluptatibus. Nemo, modi voluptatum. Quaerat eius ullam commodi nesciunt omnis sapiente odit nulla similique numquam dignissimos facere consectetur asperiores iure inventore, odio ipsam quidem facilis? Veritatis facilis necessitatibus eos suscipit consequatur eveniet, quaerat cumque illo libero adipisci? Dolorem, deserunt dignissimos? Provident, incidunt?</p>
</div>
</div>
