.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    /* margin-left: 5%; */
}

.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    font-family: Audiowide;
}

a{
    margin: 15px;
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Audiowide;
}

a:hover{
    color: #f00;
    /* display: inline; */
    /* background: #f00; */
    /* box-shadow: 0 0 10px #f00, 0 0 40px #f00, 0 0 80px #f00; */
    text-shadow: 0 10px 10px #f00, 0 10px 40px #f00, 0 10px 80px #f00;;
}