    <div class="container-contact">
        <form [formGroup] = "contactForm" (ngSubmit) = "onSubmit()" >
        <h2>Contact us</h2>
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" id="name" formControlName = "name">
                    <span class="text">First Name</span>
                    <span class="line"></span>                  
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" id="name" formControlName = "lastName">
                    <span class="text">Last Name</span>
                    <span class="line"></span>                  
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" id="name" formControlName = "email">
                    <span class="text">Email</span>
                    <span class="line"></span>                  
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" id="name" formControlName = "mobile">
                    <span class="text">Mobile</span>
                    <span class="line"></span>                  
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea name="message" id="message" formControlName = "message"></textarea>
                    <span class="text">Type your message here!</span>
                    <span class="line"></span>                  
                </div>
            </div>
        </div> 
        <div class="row100">
            <div class="col"> 
                <!-- <button type="submit"> -->
                <div *ngIf = "!contactForm.valid; else valid">
                    <a>
                        <button type="submit" [disabled] = "!contactForm.valid" appButtonHighLight> Send</button>
                    </a>
                    
                </div>
                <ng-template #valid>
                    <a class="neon">
                        <button type="submit"  appButtonHighLight> Send</button> <!---Disable on invalid form [disabled] = "!contactForm.valid"--->
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </ng-template>
                <!-- </button> -->
             </div> 
            </div>   
            </form>     
        </div>

