<div class="contact-container">
    <p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="ex.Tom">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com">
    </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    </p>
</div>