.banner{
    position: relative;
    background-color: black;
    /* background-image: url("https://steamuserimages-a.akamaihd.net/ugc/940586530515504757/CDDE77CB810474E1C07B945E40AE4713141AFD76/"); */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.text-container{
    width: 75%;
    height: 80%;
    color: #fefefe;
    
}

h1{
    margin-top: 20%;
    font-size: 50px;
    font-family: Audiowide;
}


p{
    font-size: 22px;
    line-height: 40px;
    font-family: Audiowide;

}

a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #f00;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    color: #8B0000;
    background: #f00;
    box-shadow: 0 0 10px #f00, 0 0 40px #f00, 0 0 80px #f00;
    transition-delay: 1s;
}


a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f00);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}


a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f00);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f00);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f00);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}