<div class= "about-area" id="about">
    <div class="text-container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in vero voluptas facilis dicta, quis ipsam cumque ullam obcaecati tempore magnam sed accusantium reiciendis? Iure non, temporibus laboriosam quae eveniet sequi possimus quasi tempora officia maxime sed neque velit rem culpa consequuntur cumque? Veritatis atque corrupti et assumenda nam sit ipsum pariatur ex dolore consequuntur, omnis expedita, quae voluptatibus id! Consectetur obcaecati animi soluta porro! Cum ut consectetur odit quos at et molestiae inventore perferendis possimus nesciunt exercitationem blanditiis iste facere repellat, praesentium maxime maiores vel obcaecati assumenda reiciendis culpa, nostrum sequi aliquid ipsum? Temporibus aspernatur hic qui nam reiciendis!</p>
    </div>
    </div>