<div class= "about-area" id="about">
    <div class="text-container">
        <div class="container-fluid">
            <h1>About</h1>
            <div class="row">
                <div class="col-sm-5">
                    <div class="img-wrap">
                        <img class = "bio-pic" src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="pic of me">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="text-container">
                         <h2 class="text-center">Denis Emrulov</h2>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus, molestias iusto dignissimos debitis nostrum cumque veritatis totam. Velit, at. Doloremque ad nihil, eum in aliquam optio minima atque consequuntur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>